body{font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{font-size: 50px;}
h2{font-size: 35px;}
.orange{color: orange;}
.flexible{display: flex;}
.half-width{width: 50%;
padding-left: 3%;}
.half-width img{width: 88%;}
.link-button{text-decoration: none;
padding: 10px 40px;
border-radius: 5px;
color: white;
font-weight: 700;
background-image: linear-gradient(#023a58,#0291ff);

}
.top-banner{background-image: url(images/top-banner.png);
background-repeat: no-repeat;}
.flexible{display: flex;
margin-bottom:130px ;}
.dream-big{background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px ;
     box-shadow: 10px 10px 40px gray  ;
    border-radius: 10px;
    border-left: 10px solid  ;
}
.experience{background-image: url(images/exp-bg.png);
background-repeat: no-repeat;}
#web-devloper-experience{
    border-left: 7px solid;
     border-image:linear-gradient(blue,cyan) ;
border-image-slice:1 ;}
#full-stack-experience{ border-left: 7px solid;
    border-image:linear-gradient(tomato,red) ;
border-image-slice:1 ;}
footer p{text-align: center;}
